<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<form action="/fear_result" method='post'>
  <p class="center">Введіть ваше ім'я.</p>
  <input type="text" name = "name" class="center">
  <p class="center">Введіть ваш вік.</p>
  <input type="text" name = "age" class="center">
  <p class="center">Прочитайте нижче наведені твердження та оберіть таку відповідь, яка найбільше вам підходить.</p>
<table style="width:100%">
  <tr>
    <th>№</th>
    <th>Судження</th>		
    <th>Ніколи</th>
    <th>Майже ніколи</th>
    <th>Часто</th>    
    <th>Завжди</th>
  </tr>
  <% (1..20).each do |key| %>
    <tr>
        <td><%= key %></td>
        <td><%= @questions[key] %></td>
        <%(1..4).each do |option|%>
        <td><input type="radio" name= <%=key%> value=<%=option%>> </td>  
        <% end %>
    </tr>
  <% end %>

</table>
<input type='submit' value="Далі">
</form>
</body>